<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  ErrorDocument 404 /hiho/pages/errors/404.php
  ErrorDocument 500 /hiho/pages/errors/500.php
  ErrorDocument 403 /hiho/pages/errors/403.php
  ErrorDocument 400 /hiho/pages/errors/400.php
  ErrorDocument 401 /hiho/pages/errors/401.php
</IfModule>

