.grid-stack {
    background: url('../../img/Scheme.svg') no-repeat center;
    background-size: contain;
}

.grid-stack-item-content:has(div.square) {
    background: url('../../img/Table_square.svg') no-repeat center;
    background-size: contain;
}

.grid-stack-item-content:has(div.ractangle) {
    background: url('../../img/Table_ractangle.svg') no-repeat center;
    background-size: contain;
}

.grid-stack-item-content > .table-number {
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}